<article class="vs-content pg">
    <h2>
        Articoli
    </h2>
    <ul class="vs-borderd vs-list">
        @{foreach var m in model.data}
            <li>
                <h2>@{!m.title.rendered}</h2>
                <p>
                    @{!m.excerpt.rendered}
                    <figure>
                        @{image(CONF.api+'/media/'+m.featured_media, 320, null, m.slug, 'vs-img vs-round')}
                    </figure>
                </p>
            </li>
        @{end}
    </ul>
</article>