<article class="vs-content pg">
    <h2>
        <a href="/">
        Articoli
        </a>
    </h2>
    <ol class="lst">
        @{foreach var m in model.data}
            <li>
                <h2>
                    <a href="/news/@{m.id}">
                        @{!m.title.rendered}
                    </a>
                </h2>
                <p>
                    @{!m.excerpt.rendered}
                    <figure>
                        @{image(m.img, 180, null, m.slug, 'vs-img vs-round')}
                    </figure>
                </p>
            </li>
        @{end}
    </ol>
</article>