<article class="vs-content pg">
    <h2>
        Articoli
    </h2>
    <ol>
        @{foreach var m in model.data}
            <li>
                <h2>@{!m.title.rendered}</h2>
                <p>
                    @{!m.excerpt.rendered}
                    <figure>
                        <!-- <img src="@{!m.jetpack_featured_media_url}" alt="@{m.slug}" /> -->
                        @{image(m.jetpack_featured_media_url, 320, 180, m.slug, 'img')}
                    </figure>
                </p>
            </li>
        @{end}
    </ol>
</article>