html {overflow-y: scroll;}
a{text-decoration: none;}
a:focus,a:hover{text-decoration:none;opacity:.75;outline:none}
.ac{text-align:center!important}
.ar{text-align:right!important}
.aj{text-align:justify!important}
.vc{position:relative;display:flex;top:50%;transform:translateY(-50%)}
.b{font-weight: bold;}
.pg{max-width:1200px}